@inherits LayoutComponentBase

<div class="container py-4">
    <header class="mb-4 border-bottom pb-2 d-flex align-items-center justify-content-between">
        <h2 class="mb-0">Digital Evidence App</h2>
        <nav>

        </nav>
    </header>

    <main>
        @Body
    </main>
</div>